:root {
    --primario: #F4F6FB;
    --secundario: #4F6BFF;
    --secundarioClaro: #B1C7FE;
    --secundarioOscuro: #1E3A8A;
    --blanco: #FFF;
    --negro: #000;
    --grisTexto: #5B6480;
    --filtroAzulOscuro: brightness(0) saturate(100%) invert(22%) sepia(61%) saturate(1767%) hue-rotate(217deg) brightness(93%) contrast(95%);

    --fuentePrincipal: "Staatliches", sans-serif;
}

/* Globales */
html {
    box-sizing: border-box;  
    font-size: 62.5%;
    height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main {
    flex: 1;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;   /* 1rem = 10px */
    line-height: 1.5;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}
a{
    text-decoration: none;
}
img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
    width: 25.8rem;
    height: 9.6rem;
}

/* Footer */
.footer {
    background-color: transparent;
    margin-top: 3rem;
}
.footer__texto{
    text-align: center;
    font-size: 2.2rem;
    color: var(--grisTexto);
}

/* Navegación */
.navegacion {
    background-color: var(--blanco);
    
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem; /* Separación */

    box-shadow: 0 8px 30px rgba(0,0,0,.05);
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--grisTexto);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Productos */
.producto {
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Gráficos */
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
    border-radius: 1rem;
}
.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}  
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
} 

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }   
}

/* Nosotros */
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 1024px) {
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        align-items: center;
    }    
}
.nosotros__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 1024px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/* Bloques */
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}
.bloque {
    text-align: center;
}
.bloque__imagen {
    filter: var(--filtroAzulOscuro);
}
.bloque__titulo {
    margin: 0;
}

/* Página del producto */
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.camisa__imagen {
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(177, 199, 254, .6);
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border: 1rem solid var(--secundarioClaro);
    background-color: transparent;
    color: var(--negro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
    outline: none;
}
.formulario__campo::placeholder{
    color: var(--negro);
}
.formulario__submit {
    background-color: var(--secundario);
    color: var(--blanco);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

